<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
   
    <title>カラオケ</title>
</head>
<body>
    <h1>カラオケ</h1>
    <div>
        <a href="karaoke-input.html">
            <table border="1" 
              bordercolor="#0812fd"
              cellspacing="0" 
              width="150" 
              cellpadding="10" 
              bgcolor="#0076cc">
              <tr>
                <td align="center">
                    <font color="#FFF" size="+2">予約<br></font>
                </td>
              </tr>
            </table>
        </a>
    </div>

    <div>
        <a href="karaoke-login.html">
            <table border="1" 
              bordercolor="#0812fd"
              cellspacing="0" 
              width="150" 
              cellpadding="10" 
              bgcolor="#0076cc">
              <tr>
                <td align="center">
                    <font color="#FFF" size="+2">ログイン<br></font>
                </td>
              </tr>
            </table>
        </a>
    </div>

    <div>
        <a href="karaoke-newmember.html">
            <table border="1" 
              bordercolor="#0812fd"
              cellspacing="0" 
              width="150" 
              cellpadding="10" 
              bgcolor="#0076cc">
              <tr>
                <td align="center">
                    <font color="#FFF" size="+2">会員登録<br></font>
                </td>
              </tr>
            </table>
        </a>
    </div>
</body>
</html>