<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
   
    <title>カラオケ</title>
</head>
<body bgcolor="#ffffe0" text="#000000">
    <h1>カラオケ</h1>
    <div>
        <a href={% url 'karaoke-input' %}>
            <table border="1" 
              bordercolor="#0812fd"
              cellspacing="0" 
              width="150" 
              cellpadding="10" 
              bgcolor="#0076cc">
              <tr>
                <td align="center">
                    <font color="#FFF" size="+2">予約<br></font>
                </td>
              </tr>
            </table>
        </a>
    </div>

    <div>
        <a href="karaoke-login.html">
            <table border="1" 
              bordercolor="#0812fd"
              cellspacing="0" 
              width="150" 
              cellpadding="10" 
              bgcolor="#0076cc">
              <tr>
                <td align="center">
                    <font color="#FFF" size="+2">ログイン<br></font>
                </td>
              </tr>
            </table>
        </a>
    </div>

    <div>
        <a href="karaoke-newmember.html">
            <table border="1" 
              bordercolor="#0812fd"
              cellspacing="0" 
              width="150" 
              cellpadding="10" 
              bgcolor="#0076cc">
              <tr>
                <td align="center">
                    <font color="#FFF" size="+2">会員登録<br></font>
                </td>
              </tr>
            </table>
        </a>
    </div>

    <table>
      <tr>
        <th>所在地</th>
        <td>
          住所:<br>
          〒277-0842<br>
          千葉県柏市末広町１０−１<br>
          電話:<br>
          04-7147-1008 <br>
        </td>
      </tr>
      <tr>
        <th>アクセス</th>
        <td>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12933.530494220468!2d139.9720632!3d35.8641392!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x47ea00571c90ee6b!2z5aSn5Y6f57C_6KiY5rOV5b6L5bCC6ZaA5a2m5qCh5p-P5qCh!5e0!3m2!1sja!2sjp!4v1655774335337!5m2!1sja!2sjp" 
          width="400" 
          height="300" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
          </iframe><br>
          交通案内:<br>
          JR・東武アーバンパークライン「柏駅」<br>
          西口末広町方面徒歩2分<br>
        </td>
      </tr>
    </table>
</body>
</html>