% extends "base.html" %}

{% block content %}
<form action="" method="POST">
    
    <div>
        <label for="pref">ご利用時間10:00~</label> <select name="" id="pref">
            <option value="" selected>選択してください</option>
            <option value="1">11:00</option>
            <option value="2">12:00</option>
            <option value="3">13:00</option>
            <option value="4">14:00</option>
            <option value="5">15:00</option>
            <option value="6">16:00</option>
            <option value="7">17:00</option>
            <option value="8">18:00</option>
            <option value="9">19:00</option>
            <option value="10">20:00</option>
            <option value="11">21:00</option>
            <option value="12">22:00</option>
            <option value="13">23:00</option>
            <option value="14">24:00</option>
        </select>
    </div>
    <button type="submit">次へ</button>
    <button type="submit">戻る</button>
    <button type="submit">キャンセル</button>
   
</form>
{% endblock %}