{% extends "base.html" %}

<input type="date" name="Day">


{% block content %}
<form action="" method="POST">{% csrf_token %}
    <div>
        ご利用日時：<input type="date" name="Day">
    </div>
    <div>
        <label for="pref">ご利用人数</label><br>

        <select name="Number of people" id="pref">

        <select name="people" id="pref">
            <option value="" selected>選択してください</option>
            <option value="1">1人</option>
            <option value="2">2人</option>
            <option value="3">3人</option>
            <option value="4">4人</option>
            <option value="5">5人</option>
            <option value="6">6人</option>
            <option value="7">7人</option>
            <option value="8">8人</option>
            <option value="9">9人</option>
            <option value="10">10人</option>
            <option value="11">11人</option>
            <option value="12">12人</option>
            <option value="13">13人</option>
            <option value="14">14人</option>
            <option value="15">15人</option>
        </select>
    </div>
    
    <a href={% url 'karaoke-room' %}>次へ</a>
    <a href={% url 'karaoke-home' %}>キャンセル</a>
    <button type="submit">送信</button>

</form>
