{% extends "base.html" %}
{% block title %}部屋選択{% endblock %}

{% block content %}
    
    <table border="1">
        <tr>
            <th>時間</th>
            <td>1~4人部屋</td>
            <td>1~8人部屋</td>
            <td>1~15人部屋</td>
        </tr>
        <tr>
            <th>10</th>
            <td><a href={% url 'karaoke-time' 10 %}>テスト</a></td>
            <td></td>
            <td></td>
        </tr><tr>
            <th>11</th>
            <td></td>
            <td></td>
            <td></td>
        </tr><tr>
            <th>12</th>
            <td></td>
            <td></td>
            <td></td>
        </tr><tr>
            <th>13</th>
            <td></td>
            <td></td>
            <td></td>
        </tr><tr>
            <th>14</th>
            <td></td>
            <td></td>
            <td></td>
        </tr><tr>
            <th>15</th>
            <td></td>
            <td></td>
            <td></td>
        </tr><tr>
            <th>16</th>
            <td></td>
            <td></td>
            <td></td>
        </tr><tr>
            <th>17</th>
            <td></td>
            <td></td>
            <td></td>
        </tr><tr>
            <th>18</th>
            <td></td>
            <td></td>
            <td></td>
        </tr><tr>
            <th>19</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
        <body>
        <button type="submit">戻る</button>
        <button type="submit">キャンセル</button>
       
      </body>
{% endblock %}