html{
    position: relative;
    min-height: 100%;
    padding-bottom: 200px;
    box-sizing: border-box;
}

body{
    background-color: #ffffe0;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}